#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.read-the-docs {
  color: #888;
}

@font-face {
  font-family: Montserrat;
  src: url('../src/components/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
.Montserrat{
  font-family: Montserrat;
}
html {
  scroll-behavior: smooth;
}


